@import url('https://fonts.googleapis.com/css2?family=Kings&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.kings-header {
    font-family: "Kings", cursive;
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
}

.kings-footer{
    font-family: "Kings", cursive;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
}

.noto-regular{
    font-family:"Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #efefef;
    font-family:"Noto Sans", sans-serif;
}

main{
    background-color: white;
}

header{
    background-color: white;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

a:hover {
    color: rgb(115, 36, 5);
    outline-offset: 2px;
}

.homeContent{
    padding-bottom: 35px;
}

h1{
    color: black;
}

h4{
    margin-top: 10px;
    color: gray;
    opacity: 82%;
    font-size: 12px;
}

h5{
    font-size: 18px;
    margin-top: 20px;
}

p
{
    font-size: 18px;
    line-height: 1;
    color: black;
}

.headerHr{
    border: solid 2px;
    color: #dddddd;
    opacity: 80%;
}

.mainHr{
    margin-top: 0px;
    border: solid 6px;
    color: black;
    opacity: 100%;
}

footer{
     background-color: #e3e3e3;
}

span{
    float: left;
    font-size: 54px !important;
    line-height: 1;
    font-weight: bold;
}

.vijestText{
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 2rem auto;
}

.imgCropper
{
    width: 100%;
    height: 30%;
    overflow: hidden;
}

.imgCropper img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.startText{
    text-align: center;
}

.endText{
    text-align: center;
}

.centerText{
    text-align: center;
}

.adminRow{
    padding-bottom: 20px;
    padding-top: 10px;
}

.btn-admin{
    margin-top: 20px;
    background-color: #73592a;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.adminEnd{
    padding-bottom: 500px;
}

.btn-admin:hover{
    background-color: #5a3f1f;
    color: burlywood;
}

@media (min-width: 768px) {
.startText{
    text-align: start;
}

.endText{
    text-align: end;
}

}